.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.correct {
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 5px;
  box-shadow: 0 4px 23px -15px #3dc21b;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  padding: 14px 76px;
  text-decoration: none;
  text-shadow: -2px 2px 0 black;
}

.correct:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.correct:active {
  position: relative;
  top: 1px;
}

.incorrect {
  background: linear-gradient(to bottom, #e01010 5%, #bd2a2a 100%);
  background-color: #e01010;
  border: 3px solid red;
  border-radius: 5px;
  box-shadow: 0 4px 23px -15px #eb0c0c;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  padding: 14px 76px;
  text-decoration: none;
  text-shadow: -2px 2px 0 black;
}

.incorrect:hover {
  background: linear-gradient(to bottom, #bd2a2a 5%, #e01010 100%);
  background-color: #bd2a2a;
}

.incorrect:active {
  position: relative;
  top: 1px;
}
